body {
    font-family: 'Alegreya', serif;
}

.home {
    background-image: url(../Bakery_imgs/drew-coffman-1872.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    text-align: center;
    overflow: auto;
}

.home_content {
    color: white;

    margin-top: 200px;
}
.home_content h1 {
    font-size: 80px;
}
.home_content p {
    font-size: 22px;
}
.btn {
    padding: 20px 30px;
    color: white;
    border-radius: 5px;
}

.btn1 {
    margin-right: 10px;
    border: none;
    background-color: #8e7754;
}

.btn2 {
    border: solid 2px;
    background: transparent;
}


.baking {
    padding: 25px;
    text-align: center;
}

.baking p {
    color: #888;
    margin-bottom: 30px;
}

.container {
    width: 95%;
    margin: auto;
}

.bake_item {
    width: 33.33333333333333%;
    float: left;

}

.bake_item p {

    padding: 5px 10px;
}

.bake_item img {
    width: 90%;
}

.clr {
    clear: both;
}